// Global
@import "./variables";

// balises
body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $primary-background-color;
}

h1 {
  font: 100% $font-title;
  color: $secondary-color;
  background-color: $secondary-background-color;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}