// Variables
$font-stack: Helvetica, sans-serif;
$font-title: Georgia, serif;
$font-added: "Comic Sans MS", Comic;
$primary-color: #333;
$primary-background-color: #777;
$secondary-color: #555;
$secondary-background-color: #55ff6c;
$success: #55ff55;
$danger: #ff5555;
$usage: #5555ff;